.wrapper {
  width: 50%;
  text-align: center;
  color: white;
}

.wrapper form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  background-color: #ffd201;
  overflow: hidden;
  margin-top: 16px;
  padding: 20px;
}

.wrapper form input {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
}

.wrapper form button {
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  text-transform: uppercase;
  padding: 10px;
}

@media all and (max-width: 1000px) {
  .wrapper {
    width: 80%;
  }
}

@media all and (max-width: 600px) {
  .wrapper {
    width: 95%;
  }
}
